@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: '#121212';
    --background-start: '#ffffff';
    --background-end: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background-start));
  display:flex;
  justify-content:center;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: "roboto";
  }
}
